<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Старотовая страница </title>
</head>
<body>
    <a href="http://127.0.0.1:8000/admin/"> Отобразить Admin панель </a> </br>
    <a href="http://127.0.0.1:8000/api/v1/studentslist/"> Отобразить все записи таблици Students</a></br>
    <a href="api/v1/studentslist/2/"> Отобразить данные 2й записи в таблици Students</a></br>
    <a href="http://127.0.0.1:8000/api/v1/studentsdelete/2/"> Удалить данные 2й записи в таблици Students</a></br>

</body>
</html>